<div *ngIf="isShow== 1 ; then ifblock else  elsePart">


</div>

<ng-template #ifblock>
  <h1>hii</h1>
</ng-template>


<ng-template #elsePart>
  <h2 *ngIf="isShow==2 ; then  hideifblock else hideelseblock">hello</h2>
</ng-template>

<ng-template #hideifblock>
  <h1>senwell</h1>
</ng-template>

<ng-template #hideelseblock>
  <h1>solution</h1>
</ng-template>

<div>
  <button (click)="check()">change</button>
</div>

<div *ngFor="let p of myArr">
  <h1>{{p}}</h1>

</div>


<div *ngFor="let data of myA">
  <h1>{{data}}</h1>
</div>
<table border="3">

  <tr>
    <td>sn</td>
    <td>name</td>
    <td>marks</td>
    <td>rn</td>

  </tr>

  <tr *ngFor="let data of myA ; let j=last">
    <td>{{j}}</td>
    <td>{{1}}</td>
    <td>{{data.name}}</td>
    <td>{{data.marks}}</td>
    <td>{{data.rn}}</td>
  </tr>
</table>

<div>
  <input type="radio" (click)="change(true)">true
  <input type="radio" (click)="change(false)">false
</div>
<div *ngIf="isvalid">
  <h1>is valid</h1>

</div>
<div *ngIf="!isvalid">
  <h1>is not valid</h1>

</div>
<h2>use track by with for</h2>

<table border="1">
  <tr *ngFor="let s of student; let i=index trackBy:trackByon">
    <td>{{i+1}}</td>
    <td>{{s.studentid}}</td>
    <td>{{s.name}}</td>
    <td>{{s.age}}</td>
  </tr>
</table>
<button (click)="onclick()">click</button>
<h1>grrouped data</h1>
<ul *ngFor="let group of contrydetail">
  <li>{{group.contry}}</li>
  <ul>
    <li *ngFor="let g of group.people">
      {{g.name}}
    </li>

  </ul>

</ul>
<h2>ng style dom change dynamically</h2>
<!-- <ul *ngFor="let p of contrys">
  <li [ngStyle]="{'color':{p.contry}}">
   
  </li>

</ul> -->